<div class="d-flex flex-column h-100">
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Turing IA</h5>
                    <p class="small text-muted">
                        Av. Insurgentes 601
                        <br>Col. Nápoles, Benito Juárez
                        <br>Ciudad de México, México
                    </p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Mapa de sitio</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Servicios</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Nuestros servicios</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Capacitación</a></li>
                        <li><a href="#">Venta de software</a></li>
                        <li><a href="#">Venta de hardware</a></li>
                        <li><a href="#">Desarrollo de Apps</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Inscribete en nustro newsletter</h5>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Correo electrónico" aria-label="Correo electrónico" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>