<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">¿QUÉ REALIZAMOS?</h2>
                <h5 class="description">Contribuimos con su empresa para mejorar la toma de decisiones a través de sus datos.</h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="image-container image-left" style="background-image: url('assets/img/angel.jpeg')"></div>

                    <!-- Second image on the left side of the article -->
                    <div class="image-container" style="background-image: url('assets/img/angel2.jpeg'); margin-top: 133px !important;"></div>
                </div>
                <div class="col-12 col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('assets/img/angel3.jpeg')"></div>
                    <h3 class="text-center">LA MANERA IDEAL PARA MANEJAR TUS DATOS.</h3>
                    <p>Somos el socio estratégico que necesitas para potenciar los datos de tu organización.
                        <br>
                        Contamos con más de 15 años de experiencia brindando soluciones innovadoras, adaptadas a las necesidades de nuestros clientes, en más de 10 industrias y diferentes áreas funcionales.
                    </p>
                    <h3 class="text-center">TECNOLOGIAS QUE UTILIZAMOS:</h3>
                    <div class="row">
                        <div class="col-3">
                            <img src="assets/img/tableau.png" class="w-100" alt="">
                        </div>

                        <div class="col-3">
                            <img src="assets/img/salesforce.jpeg" class="w-100" alt="">
                        </div>

                        <div class="col-3">
                            <img src="assets/img/pmi2.png" class="w-100" alt="">
                        </div>

                        <div class="col-3">
                            <img src="assets/img/scrum.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>