<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/angel2.jpeg');"></div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/logo-black.png" alt="">
                <h1 class="h1-seo">TURING IA</h1>
                <h3>Contacto<br>Los grandes conocimientos engendran las grandes dudas.</h3>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center mt-5">
        <div class="container" id="x">
            <h2 class="title">Estemos en Contacto</h2>
            <p class="description">Hablemos sobre nuestro siguiente gran proyecto.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                            Nombre:
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                            Email:
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                            Teléfono:
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                            Empresa:
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                    </div>
                    <div class="input-group input-lg">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">
                            Mensaje:
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                    </div>
                    <div class="send-button">
                        <a href="#" class="btn btn-primary btn-round btn-block btn-lg">Enviar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>