<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/angel3.jpeg');"></div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/logo-black.png" alt="">
                <h1 class="h1-seo">TURING IA</h1>
                <h3>Nosotros<br>Hacemos los datos fáciles de usar</h3>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">¿QUIÉNES SOMOS?</h2>
                    <h5 class="description">Turing-IA, tu mejor opción.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/angel.jpeg')"></div>
                    </div>
                    <div class="col-12 col-md-5">
                        <p align="justify">Somos una Empresa de Analítica e Inteligencia de Negocios en México con presencia internacional, conformada por especialistas en proyectos de Business Analytics. Contamos con mas de 15 años de experiencia brindando soluciones innovadoras en más de 10 industrias y diferentes áreas funcionales.
                            Contamos con los mejores Especialistas en Análisis Descriptivos, Predictivos y Prescriptivos, equipados con las certificaciones más importantes en el desarrollo de Análisis de Datos mediante Knowledge Discovery in Database (KDD)
                        </p>
                        <h3 class="text-center">NUESTRAS METODOLOGÍAS</h3>
                        <p align="justify">Nuestros expertos están comprometidos en desarrollar proyectos respaldados por metodologías ágiles e innovadoras, que aseguran el éxito de nuestras soluciones de analítica.</p>
                        <div class="row">
                            <div class="col-3">
                                <img src="assets/img/tableau.png" class="w-100" alt="">
                            </div>
    
                            <div class="col-3">
                                <img src="assets/img/salesforce.jpeg" class="w-100" alt="">
                            </div>
    
                            <div class="col-3">
                                <img src="assets/img/pmi2.png" class="w-100" alt="">
                            </div>
    
                            <div class="col-3">
                                <img src="assets/img/scrum.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column h-100">
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Turing IA</h5>
                    <p class="small text-muted">
                        Av. Insurgentes 601
                        <br>Col. Nápoles, Benito Juárez
                        <br>Ciudad de México, México
                    </p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Mapa de sitio</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Servicios</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Nuestros servicios</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Capacitación</a></li>
                        <li><a href="#">Venta de software</a></li>
                        <li><a href="#">Venta de hardware</a></li>
                        <li><a href="#">Desarrollo de Apps</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Inscribete en nustro newsletter</h5>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Correo electrónico" aria-label="Correo electrónico" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>