<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/angel2.jpeg');"></div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/logo-black.png" alt="">
                <h1 class="h1-seo">TURING IA</h1>
                <h3>Portal<br>Los grandes conocimientos engendran las grandes dudas.</h3>
            </div>
        </div>
    </div>
</div>